.count{
    text-align: center;
}

.settings{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    width: 600px;
    border: 1px solid black;
}