.count{
    text-align: center;
}

.settings{
    margin-top: 23px;
    margin-left: 66px;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    width: 600px;
    border: 1px solid black;
}

.block1 {
    width: 150px;
    padding: 5px;
    float: left;
}

